* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body,
html {
  height: 100%;
}

.background {
  background-image: url("image.png"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.8); 
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;

  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.flip {
  transform: rotateY(180deg);
}

h1 {
  color: white;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: white;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ddd;
}

.login-options,
.signup-options {
  color: white;
  margin-top: auto; /* Pushes content to the bottom */
  text-align: center;
  
}
